



.input-wrapper{
  margin: 10px;
}
.input-field{
  width: 300px;
  height: 30px;
}
.button{
  width: 300px;
  height: 30px;

}
.container{
  text-align: center;
  
}
.button-linking{
  border: 0;
  background-color: transparent;
  color: skyblue;
  margin: 20px;
  cursor: pointer;
}
.input-error{
  position: absolute;
  padding: 8px;
  font-size: 13px;
  color: red;

}

table,th,td{
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;

}

table td button{
  margin: 5px;
}